@media screen and (max-width: 420px) {
    /********************************************************************/
    /* COMMONS */
    /********************************************************************/   
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        width: 420px;
    }
    
    .row{
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
   
    
    h1{
        margin-top: 0;
    }

    h3{
        margin: 0;
    }
    
    
    img{
        height: 100px;
        margin-top: 15px;
    }


    /********************************************************************/
    /* LESSONS */
    /********************************************************************/   
    #lezioni{
        background-color: #f2f2cd;
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        padding: 0 14px;
        font-size: 12px;
    }

    #lezioni .row img{
        margin-top: 15px;
    }

    /********************************************************************/
    /* STEP */
    /********************************************************************/   
    #steps .row>.left, 
    #steps .row>.central, 
    #steps .row>.right{
        width: 100%;
        padding: 0 10px;
        font-size: 12px;
    }

    /********************************************************************/
    /* WHY */
    /********************************************************************/   
    #why{
        background-color: #f2f2cd;
    }

    #why .row>.first, 
    #why .row>.second, 
    #why .row>.third {
        width: 100%;
        margin-top: 0;
        padding: 0 10px;
        font-size: 12px;
    }

}